[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib-0_6_x/mip21-toolkit"]
	path = lib-0_6_x/mip21-toolkit
	url = https://github.com/clio-finance/mip21-toolkit
